<div id="<%= dom_id filme %>" class="filme-classe">
  <p>
    <h2> 
      <b><%= filme.nome %></b>
    </h2>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= filme.ano %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= filme.desc %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <%= image_tag(filme.cartaz, width: '612px') if filme.cartaz.attached? %>
  </p>

</div>
